{% extends "base.html"%}
{%block content%}
       {% with messages = get_flashed_messages() %}
            {% if messages %}
                 {% for message in messages %}
                 <div class="row">
                   <div class="small-6 small-centered columns">
                     <div data-alert class="alert-box info radius">
                       {{ message }}
                       <a href="#" class="close">&times;</a>
                     </div>
                   </div>
                 </div>
                 {% endfor %}
            {% endif %}
      {% endwith %}

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form id=form action="/home" method="post">
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <input name="username"type="text" placeholder="somebody@example.com">
        </label>
        <label>Password
          <input name="password" type="password" placeholder="Password">
        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
        <input type="submit" class="button expanded">
        <p class="text-center"><a href="#">Forgot your password?</a></p>   
      </div>
    </form>

  </div>
</div>
{%endblock%}
